{{ ansible_managed | comment }}

# Global

{% if wtd_srv_dhcp_conf_global.local_address is defined %}
local_address: {{ wtd_srv_dhcp_conf_global.local_address }};
{% endif %}
{% if wtd_srv_dhcp_conf_global.authoritative | default('false') | bool %}
authoritative;
{% endif %}
default-lease-time {{ wtd_srv_dhcp_conf_global.default_lease_time | default('600') }};
max-lease-time {{ wtd_srv_dhcp_conf_global.max_lease_time | default('7200') }};
{% if wtd_srv_dhcp_conf_global.allow_booting | default('false') | bool %}
allow booting;
{% endif %}
{% if wtd_srv_dhcp_conf_global.allow_bootp | default('false') | bool %}
allow bootp;
{% endif %}
{% if wtd_srv_dhcp_conf_global.next_server is defined %}
next-server {{ wtd_srv_dhcp_conf_global.next_server }};
{% endif %}
{% if wtd_srv_dhcp_conf_global.filename is defined %}
filename "{{ wtd_srv_dhcp_conf_global.filename }}";
{% endif %}
{% if wtd_srv_dhcp_conf_global.log_facility is defined %}
log_facility {{ wtd_srv_dhcp_conf_global.log_facility }};
{% endif %}
## Options
{% if wtd_srv_dhcp_conf_global.domain_name is defined %}
option domain-name "{{ wtd_srv_dhcp_conf_global.domain_name }}";
{% endif %}
{% if wtd_srv_dhcp_conf_global.domain_name_servers is defined %}
option domain-name-servers {{ wtd_srv_dhcp_conf_global.domain_name_servers }};
{% endif %}
{% if wtd_srv_dhcp_conf_global.ntp_servers is defined %}
option ntp-servers {{ wtd_srv_dhcp_conf_global.ntp_servers }};
{% endif %}
{% if wtd_srv_dhcp_conf_global.options is defined %}
{% for option in wtd_srv_dhcp_conf_global.options %}
{{ option }};
{% endfor %}
{% endif %}

# Keys
include "/etc/dhcp/dhcpd-keys.conf";

{% if wtd_srv_dhcp_conf_failover.enabled | bool %}
# Failover
include "/etc/dhcp/dhcpd-failover.conf";

{% endif %}
{% if wtd_srv_dhcp_conf_ddns.enabled | bool %}
# DDNS
include "/etc/dhcp/dhcpd-ddns.conf";

{% endif %}
{% if wtd_srv_dhcp_conf_networks is defined %}
# Networks
include "/etc/dhcp/dhcpd-networks.conf";

{% endif %}
{% if wtd_srv_dhcp_conf_groups is defined %}
# Groups
include "/etc/dhcp/dhcpd-groups.conf";

{% endif %}
{% if wtd_srv_dhcp_conf_omapi.enabled | bool %}
# OMAPI
include "/etc/dhcp/dhcpd-omapi.conf";

{% endif %}
# Additional includes
{% for include in wtd_srv_dhcp_conf_includes %}
include "{{ include }}";
{% endfor %}
